@import '../../../../../assets/scss/_variables.scss';

 .header-action{
   text-align: end;
   margin-bottom: 20px;
}
.candidate-card {
 min-height: 940px;
}

.picture-div{
    width:100%;
    text-align: center;
}
.picture-div img{
    width:130px;
    height: 130px; 
    max-width: 100%;
    border-radius: 50%;
}
.email{
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}
.email:hover{
  color: $primary;
}
.info-div {
    margin-top: 35px;
}
.detail-item{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.skills-div{
    margin-top: 20px;
}
.skills-head{
    align-items: center; 
    display: flex; 
    justify-content: space-between;
}

.skills-list {
    padding-left: 0; 
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  
  .skill-item {
    border-radius: 20px; 
    list-style: none; 
    margin-bottom: 8px; 
    position: relative;
  }
  .custom-tooltip {
    position: relative;
    display: inline-block;
}

.custom-tooltip .tooltip-text {
  visibility: hidden;
  font-size: 10px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 1px 10px;
  position: absolute;
  z-index: 1;
  bottom: calc(100% - 10px); 
  left: 50%; 
  transform: translateX(-50%); 
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}
.custom-tooltip .tooltip-text-evaluator {
  bottom: calc(100% - 0px); 
}
.custom-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.skill-actions{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
  input[type="text"] {
    flex: 1;
    border: 1px solid $borderformColor;
    margin-right: 8px;
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 12px;
  }
  input:focus { 
    outline: none !important;
    border-color: $primary;
  }
  .delete-button { 
     border: none; 
     padding: 0;
    background-color: transparent; 
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    margin-right: 0;
  }
  
  .skill-item:hover .delete-button {
    display: inline-flex;
  }
  .supervisors{
    align-items: start;
  }
  .supervisor{
    padding-top: 8px; 
    padding-left: 10px;
  }
  .collaborator-picture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .evaluation-container {
    padding: 20px 0px 10px;
    margin-top: 7px;
  }
  
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* expandable-table.component.css */
.custom-table {
  width: 100%; 
  table-layout: fixed; 
}
table {
  width: 100%;
  border-collapse: collapse;

}

th, td {
  border: 5px solid $light-primary; 
  padding: 10px 8px;
  text-align: center;
  line-height: 1.5;
  min-width: 100px;
}

th{
    font-weight: 600;
    color: $primary;
    font-size: 12px;
}
td{
  font-size: 13px;
}

.evaluator-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.circled-span {
  border-radius: 50%;
  width: 20px;
  padding: 2px 3px;
  margin-right: 10px;
  text-align: center;
}

.expanded-row {
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: start;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.chart{
  padding: 10px 0;
}
.chart h4{
  text-align: center;
}
.note-icon{
  width: 20px;
  margin-right: 5px;
}
.candidate-print-card {
  border: 1px solid $borderformColor;
  border-radius: 5px;
  padding: 20px;
}

.candidate-print-card  img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.candidate-print-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.candidate-print-info {
  font-size: 16px;
}
.chart-print{
  border: 1px solid $borderformColor;
  border-radius: 5px;
}
