<div *ngIf="!loading">
    <div class="header">
        <mat-form-field appearance="outline" class="m-l-12">
            <mat-label>Filter by Session</mat-label>
            <mat-select [(value)]="selectedSessionId" (selectionChange)="filterBySession($event.value)">
              <mat-option *ngFor="let session of sessions" [value]="session.id">{{ session.name }}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
        <div >          
            <h3 class="f-w-400" *ngIf="!interviewData || interviewData.length === 0">No interview available!</h3>
            <div *ngIf="interviewData && interviewData.length !== 0">
                <div class="table-container" style="overflow-x: auto;">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Candidate</th>
                                <th>Interviewer</th>        
                                <th *ngFor="let criteria of evaluationCriteria">{{ criteria.name }}</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let interview of interviewData">
                                <ng-container *ngFor="let interv of interview">
                                    <ng-container *ngIf="interv.interviewLines.length > 0">
                                        <ng-container *ngFor="let line of interv.interviewLines; let i = index">
                                            <tr *ngIf="i === 0; else subRow">
                                                <td [attr.rowspan]="interv.interviewLines.length">
                                                    <div class="candidate-info">
                                                        <div class="custom-tooltip">
                                                            <img *ngIf="interv.candidate && interv.candidate.picture && !interv.candidate.picture.endsWith('/images/'); else defaultCandidatePicture"
                                                                [src]="interv.candidate.picture" alt="Candidate Picture" class="collaborator-picture">
                                                            <ng-template #defaultCandidatePicture>
                                                                <div class="circled-span bg-light-primary text-primary shadow-none f-w-600">
                                                                    {{ interv.candidate?.firstName?.charAt(0) | uppercase }}
                                                                </div>
                                                            </ng-template>
                                                        </div>
                                                        <span>{{ interv.candidate.firstName }} {{ interv.candidate.lastName }}</span>
                                                    </div>
                                                </td> 
                                                <td>
                                                    <div class="custom-tooltip">
                                                        <img *ngIf="line.user.picture && !line.user.picture.endsWith('/images/'); else defaultPicture"
                                                            [src]="line.user.picture" alt="User picture" class="user-picture">
                                                        <ng-template #defaultPicture>
                                                            <div class="circled-span bg-light-primary text-primary shadow-none f-w-600">
                                                                {{ line.user.nom?.charAt(0) | uppercase }}
                                                            </div>
                                                        </ng-template>
                                                        <span class="tooltip-text-user tooltip-text">{{ line.user.nom }} {{ line.user.prenom }}</span>
                                                    </div>
                                                </td>
                                                <td *ngFor="let criteria of evaluationCriteria"
                                                    [ngStyle]="{'background-color': !line.user.interviewLineCriteriaGrades.hasOwnProperty(criteria.id) ? '#f2f6fa' : 'transparent'}">
                                                    {{ criteria && criteria.id && line.user.interviewLineCriteriaGrades[criteria.id] }}
                                                </td>
                                                <td>{{ line.remark ? line.remark : 'No remark available' }}</td>
                                            </tr>
                                            <ng-template #subRow>
                                                <tr>
                                                    <td>
                                                        <div class="custom-tooltip">
                                                            <img *ngIf="line.user.picture && !line.user.picture.endsWith('/images/'); else defaultPicture"
                                                                [src]="line.user.picture" alt="User picture" class="user-picture">
                                                            <ng-template #defaultPicture>
                                                                <div class="circled-span bg-light-primary text-primary shadow-none f-w-600">
                                                                    {{ line.user.nom?.charAt(0) | uppercase }}
                                                                </div>
                                                            </ng-template>
                                                            <span class="tooltip-text-user tooltip-text">{{ line.user.nom }} {{ line.user.prenom }}</span>
                                                        </div>
                                                    </td>
                                                    <td *ngFor="let criteria of evaluationCriteria"
                                                        [ngStyle]="{'background-color': !line.user.interviewLineCriteriaGrades.hasOwnProperty(criteria.id) ? '#f2f6fa' : 'transparent'}">
                                                        {{ criteria && criteria.id && line.user.interviewLineCriteriaGrades[criteria.id] }}
                                                    </td>
                                                    <td>{{ line.remark ? line.remark : 'No remark available' }}</td>
                                                </tr>
                                            </ng-template>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
