@import '../../../../../assets/scss/_variables.scss';

.evaluation-container {
  padding: 10px 30px 30px;
}


.header {
  display: flex; 
  align-items: center; 
  justify-content: space-between ; 
  margin-bottom: 15px;
  padding-top: 5px;
}
.campaign-date {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
    padding-right: 20px;
  }
  
  .date-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $primary; /* Circle background color */
    border: 2px solid $primary; /* Circle border color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px; /* Adjust as needed */
    font-size: 8px;
    color: #fff;
  }
  
  .line {
    width: 2px; /* Vertical line width */
    height: 20px; /* Vertical line height */
    background-color: $borderColor; /* Vertical line color */
    margin: 0 20px; /* Adjust as needed */
  }
  .date-info-start{
    position: relative;
  }
  .date-info-end{
    position: relative;
  }
  .text-date{
   line-height: 11px;
  }
  .start-date{
    position: absolute;
    top: -5px;
    left: -11px;
  }
  .end-date{
    position: absolute;
    top: -3px;
    right: -11px;
  }
  .month{
    font-size: 12;
    font-weight: 600;
  }
  .year{
    font-size: 10px;
  }
  
  
.validate-btn {
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
}
.team-member img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.custom-table {
  width: 100%; 
  table-layout: fixed; 
}
table {
  width: 100%;
  border-collapse: collapse;

}

th, td {
  border: 5px solid $light-primary; 
  padding: 10px 8px;
  text-align: center;
  line-height: 1.5;
  min-width: 100px;
}

th{
    font-weight: 600;
    color: $primary;
    font-size: 12px;
}
td{
  font-size: 13px;
}

.evaluator-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.circled-span {
  border-radius: 50%;
  width: 20px;
  padding: 2px 3px;
  margin-right: 10px;
  text-align: center;
}

.expanded-row {
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: start;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.chart{
  padding: 10px 0;
}
.chart h4{
  text-align: center;
}
.note-icon{
  width: 20px;
  margin-right: 5px;
}
.custom-tooltip {
  position: relative;
  display: inline-block;
}

.custom-tooltip .tooltip-text {
visibility: hidden;
font-size: 10px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 3px;
padding: 1px 10px;
position: absolute;
z-index: 1;
bottom: calc(100% - 10px); 
left: 50%; 
transform: translateX(-50%); 
opacity: 0;
transition: opacity 0.3s;
white-space: nowrap;
}
.custom-tooltip .tooltip-text-evaluator {
bottom: calc(100% - 0px); 
}
.custom-tooltip:hover .tooltip-text {
visibility: visible;
opacity: 1;
}
