<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/logo_talan.png" class="align-middle" width="30%" height="auto" alt="logo" />
            </a>
          </div>
          <span class="d-block text-center m-t-24">Take control of your security: Reset your password now.</span>
          <form class="m-t-30" [formGroup]="resetPasswordForm">          
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <div class="w-100" [ngClass]="{ 'invalid': password.invalid && (password.dirty || password.touched), 'touched': password.touched && password.valid }">
              <div class="password-input-container">
                <input matInput [type]="hideP ? 'password' : 'text'" formControlName="password" class="w-100 custom-input" />
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="hideP ? 'Hide password' : 'Show password'">
                  <mat-icon>{{ hideP ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </div>

              <div *ngIf="!confirmFocused && !resetPasswordForm.valid && (password.touched || password.dirty) && !password.errors?.['required']" class="text-red-400 text-sm">
                <span [ngClass]="{ 'text-success': password.valid && (password.dirty || password.touched), 'touched': password.touched && password.valid }">Your password must be at least:</span>
                <ul class="requirement-list">
                  <li>
                    <mat-icon class="icon" [ngClass]="{'text-success': this.password.value?.match('^(?=.*[A-Z])')}">
                        <i-tabler name="{{ this.password.value?.match('^(?=.*[A-Z])') ? 'check' : 'x' }}" class="icon-16 m-t-4"></i-tabler>
                    </mat-icon>
                    <span class="block" [ngClass]="{'text-success': this.password.value?.match('^(?=.*[A-Z])')}">one uppercase letter.</span>
                </li>
                
                <li>
                  <mat-icon class="icon" [ngClass]="{'text-success': this.password.value?.match('(?=.*[a-z])')}">
                      <i-tabler name="{{ this.password.value?.match('(?=.*[a-z])') ? 'check' : 'x' }}" class="icon-16 m-t-4"></i-tabler>
                  </mat-icon>
                  <span class="block" [ngClass]="{'text-success': this.password.value?.match('(?=.*[a-z])')}">one lowercase letter.</span>
              </li>
              
              <li>
                  <mat-icon class="icon" [ngClass]="{'text-success': this.password.value?.match('(.*[0-9].*)')}">
                      <i-tabler name="{{ this.password.value?.match('(.*[0-9].*)') ? 'check' : 'x' }}" class="icon-16 m-t-4"></i-tabler>
                  </mat-icon>
                  <span class="block" [ngClass]="{'text-success': this.password.value?.match('(.*[0-9].*)')}">one digit.</span>
              </li>
              
              <li>
                  <mat-icon class="icon" [ngClass]="{'text-success': this.password.value?.match('(?=.*[!@#$%^&*])')}">
                      <i-tabler name="{{ this.password.value?.match('(?=.*[!@#$%^&*])') ? 'check' : 'x' }}" class="icon-16 m-t-4"></i-tabler>
                  </mat-icon>
                  <span class="block" [ngClass]="{'text-success': this.password.value?.match('(?=.*[!@#$%^&*])')}">one special character.</span>
              </li>
              
              <li>
                  <mat-icon class="icon" [ngClass]="{'text-success': this.password.value?.match('.{8,}')}">
                      <i-tabler name="{{ this.password.value?.match('.{8,}') ? 'check' : 'x' }}" class="icon-16 m-t-4"></i-tabler>
                  </mat-icon>
                  <span class="block" [ngClass]="{'text-success': this.password.value?.match('.{8,}')}">8 characters long.</span>
              </li>
              
                </ul>
              </div>
              
              
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">{{ getPasswordErrorMessage() }}</div>
            </div>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block m-t-12">Confirm Password</mat-label>
            <div class="w-100" [ngClass]="{ 'invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched), 'touched': confirmPassword.touched && confirmPassword.valid }">
              <div class="password-input-container">
                <input matInput [type]="hideCP ? 'password' : 'text'" formControlName="confirmPassword" class="w-100 custom-input" (focus)="onFocusConfirmPassword()" (blur)="onBlurConfirmPassword()"/>
                <button mat-icon-button matSuffix (click)="toggleCPasswordVisibility()" [attr.aria-label]="hideCP ? 'Hide password' : 'Show password'">
                  <mat-icon>{{ hideCP ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </div>
              <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="error-message">{{ getConfirmPasswordErrorMessage() }}</div>
            </div>

            <a mat-flat-button color="primary" class="w-100 m-t-12" [disabled]="!resetPasswordForm.valid" (click)="resetPassword()">Reset Password</a>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<p-toast />