<div *ngIf="loading" class="loader">
  <!-- Add your loading indicator here -->
  <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<div *ngIf="!loading">
  <div class="header">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input type="search" matInput (input)="applyFilter($event)">      
        </mat-form-field>
      </form>
      <button  *ngIf="isUserAdmin" mat-raised-button color="primary" class="add-btn" (click)="openAddDialog()"><span>+</span> Add Candidate</button>
  </div>
<div>
    <table mat-table [dataSource]="dataSource" class="demo-table">
        <!-- Position Column -->
        <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef  class="column-title" >No.</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.id}}</td>
        </ng-container> -->
    
      <!-- Picture Column -->
      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef  class="column-title">Picture</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <ng-container *ngIf="element.picture && !element.picture.endsWith('/images/'); else defaultPicture">
            <img [src]="element.picture" class="candidate-picture" alt="candidate Picture">
          </ng-container>
          <ng-template #defaultPicture>
            <!-- Display a circled span with the first letter of the user's name -->
            <div class="circled-span bg-light-primary text-primary shadow-none f-w-600">
              {{ element.firstName.charAt(0) | uppercase }}
            </div>
          </ng-template>
        </td>
      </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  class="column-title">Full Name</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.firstName}} {{element.lastName}}</td>
        </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef  class="column-title">Email</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.email}}</td>
            </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef  class="column-title">Action</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <div class="custom-tooltip">
            <button mat-icon-button color="primary" [routerLink]="['/dashboard/admin/candidates', element.id]">
              <mat-icon class="icon-btn"><i-tabler name="list-details" class="icon-18 d-flex"></i-tabler></mat-icon>
          </button>          
            <span class="tooltip-text">View</span>
        </div>
          <div class="custom-tooltip" *ngIf="isUserAdmin">
            <button mat-icon-button color="accent" (click)="openEditDialog(element)">
                <mat-icon class="icon-btn"><i-tabler name="edit" class="icon-18 d-flex"></i-tabler></mat-icon>
            </button>
            <span class="tooltip-text">Edit</span>
        </div>
        <div class="custom-tooltip" *ngIf="isUserAdmin">
              <button mat-icon-button color="warn" (click)="openDeleteDialog(element)">
                <mat-icon class="icon-btn"><i-tabler name="square-x" class="icon-18 d-flex"></i-tabler></mat-icon>
              </button>
          <span class="tooltip-text">Remove</span>
        </div>
        </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            (click)="clickedRows.add(row)"
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" style="margin-top: 20px;">
</mat-paginator>
</div>

<p-toast /></div>

 

 