<h2 mat-dialog-title class="d-flex align-items-center m-t-8"><i-tabler name="alert-hexagon" class="icon-24" style="margin-right: 10px;"></i-tabler> Delete Technology</h2>
<mat-dialog-content>
  <p class="dialog-content">Would you like to delete the technology <span>{{ technology.label }}</span> ?</p>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-flat-button (click)="closeDialog()">Cancel</button>
  <button mat-flat-button color="warn" (click)="deleteTechnology()">Delete</button>
</mat-dialog-actions>
